[core]
	excludesfile = ~/.gitignore_global
	autoCRLF = false
[include]
	# personal config is managed
	path = ~/.gitconfig.local
[credential]
	helper = osxkeychain
	UseHttpPath = true
[alias]
	cd = checkout develop
	pod = pull origin develop
	# push current branch to origin
	pu = !git push origin `git rev-parse --abbrev-ref HEAD` -u
[init]
	defaultBranch = main
